.datepicker-container {
    background: white;
    min-width: 400px;
    border-radius: 1rem;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .15);
}

.datepicker-current-date {
    font-weight: 900;
}

.datepicker-navigation {
    height: 40px;
    width: 40px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    border-radius: .5rem;
    user-select: none;
    color: gray;
    font-size: 2rem;
}

.datepicker-navigation:hover,
.datepicker-body .datepicker-dates li:hover {
    background-color: rgb(75, 88, 88);
    color: white;
}

.datepicker-days {
    list-style: none;
}

.datepicker-body li {
    width: calc(100% / 7);
    font-size: 1rem;
}

.datepicker-days li {
    cursor: default;
    font-weight: 600;
    color: rgb(75, 88, 88);
}

.datepicker-body .datepicker-dates li {
    position: relative;
    z-index: 1;
    cursor: pointer;
    list-style: none;
}

.datepicker-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    width: 100%;

    
}

.datepicker-body li {
    width: 100%;
    font-size: 1rem;
}

.datepicker-days, .datepicker-dates {
    display: contents;
}

.datepicker-date {
    text-align: center;
    min-width: 50px; 
    height: 50px; 
    border: 1px solid rgb(223, 223, 223);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.datepicker-days li {
    min-width: 50px;
    margin-bottom: 1rem;
}

.datepicker-current-date {
    width: 250px;
    color: rgb(75, 88, 88);
}

.inactive {
    color: rgb(168, 168, 168);
}

.current-month {
    color: black;
}

